#----------Base URLs of project----------
BASE_URL_EPICVIN=
BASE_URL_EPICVIN_PRECHECK=

#----------Delete data URLs (admin endpoints)----------
RESET_USER_DATA_URL=
REPORTS_EPICVIN=
REVIEWS_EPICVIN=
PAYMENT_METHOD_EPICVIN=
TRIAL_SUB_EPICVIN=
FULL_SUB_EPICVIN=
FINGERPRINTS_EPICVIN=
AFFILIATES_EPICVIN=
ADD_DISPUTE_EPICVIN=
CLOSE_DISPUTE_EPICVIN=
ADD_FUNDS=

#----------Test accounts----------
VALID_EMAIL=
VALID_EMAIL1=
VALID_EMAIL2=
VALID_EMAIL3=
VALID_EMAIL4=
VALID_EMAIL5=
VALID_EMAIL6=
VALID_EMAIL7=
VALID_EMAIL8=
VALID_EMAIL9=
VALID_EMAIL10=
VALID_EMAIL11=
VALID_EMAIL12=
VALID_EMAIL13=
VALID_EMAIL14=
VALID_EMAIL15=
VALID_EMAIL16=
VALID_EMAIL17=
VALID_DEALER_EMAIL=
VALID_LIVE_EMAIL=
LOCAL_EMAIL_EPICVIN=
LOCAL_EMAIL_SCA=
INVALID_EMAIL=
INVALID_EMAIL_WITH_TYPO=
NULL_EMAIL=
VALID_PASSWORD=
VALID_LIVE_PASSWORD=
INVALID_PASSWORD=
LESS_SIX_SYMBOLS_PASSWORD=
NULL_PASSWORD=
GOOGLE_PASSWORD=

#----------Test data----------
VALID_VIN=
VALID_VIN_IN_LOWERCASE=
VIN_MORE_THAN_17SYMBOLS=
CRASHES_VIN=
EMISSIONS_VIN=
SERVICES_VIN=
INVALID_VIN=
REPAIR_SMITH_VIN=
LESS_FIVE_SYMBOLS_VIN=
EMPTY_VIN=
LICENSE_PLATE=
LICENSE_PLATE_WITH_MORE_THAN_10SYMBOLS=

#----------Test cards----------
CARD_NUMBER=
CARD_WITH_3DS=
CARD_INSUFFICIENT_FUNDS=
CARD_DECLINE_YUNO=
CARD_PREPAID=
CARD_PREPAID_IXOPAY=
CARD_NUMBER_1=
CARD_NUMBER_2=
CARD_MAESTRO=
YUNO_3DS_CODE=
MONTH_YEAR=
INVALID_MONTH_YEAR=
CVC=
INVALID_CVV=

#----------PayPal----------
PAYPAL_EMAIL=
PAYPAL_PASSWORD=

#----------Affiliate----------
AFFILIATE_USER=
AFFILIATE_PASSWORD=

#----------Merchant----------
MERCHANT_USER=
MERCHANT_PASSWORD=

#----------Other----------
ZIP=
POSTAL_CODE_LONG=
TEST=
PROMO=
PROMO_SCA=
MAKE=
MODEL=
COLOR=
YEAR=
ODOMETER=
STATE=
PHONE_SCA=
AMOUNT_PRICE=
PERFORMANCE_LIMIT_SCORE=
MAX_RESPONSE_TIME_MS=
LESS_TWO_SYMBOLS_NAME=
EMAIL_WITH_ERROR=
MAX_LENGTH_1024_SYMBOLS=
EPICVIN_EXT_URL=
EPICVIN_TRUSTPILOT=
BLOG_URL_PAGE2=
MY_REPORT_URL_PAGE5=

#----------Database connection----------
DATABASE_URL_EPICVIN=
DATABASE_USER=
DATABASE_PASSWORD=

#----------Parsers DB connection----------
PARSERS_DB_URL=
PARSERS_DB_USER=
PARSERS_DB_PASSWORD=

#----------Basic Auth----------
DEV_LOGIN_BASIC_AUTH_EPICVIN=
DEV_PASS_BASIC_AUTH_EPICVIN=
DEV_LOGIN_BASIC_AUTH_SCA=
DEV_PASS_BASIC_AUTH_SCA=

#----------The fields below are used by Constants but not by portfolio tests----------
BASE_URL_VINGURUS=
BASE_URL_VININSPECT=
BASE_URL_SCA=
BASE_URL_VININSPECT_PRECHECK=
PAYMENT_METHOD_VININSPECT=
TRIAL_SUB_VININSPECT=
FULL_SUB_VININSPECT=
FINGERPRINTS_VININSPECT=
ADD_DISPUTE_VININSPECT=
CLOSE_DISPUTE_VININSPECT=
DATABASE_URL_EPICVIN_UK=
DATABASE_URL_VININSPECT=
DATABASE_URL_SCA=
DATABASE_USER_SCA=
DATABASE_PASSWORD_SCA=
